* {
    box-sizing: border-box;    
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 38px;
    margin: 0;
}

/* .main-container {
    width: 900px;
} */

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.row, .header, ul, .search-area {
    display: flex;
    flex-wrap: wrap;
}

.row, .header {
    width: 900px;
}

.separator {
    background-image: url("../img/menu_sep.png");
    width: 4px;
    margin: 0 16px;
    background-repeat: no-repeat;
}

.header {    
    /* width: 900px; */
    height: 105px;
    margin: auto;
    align-content: space-between;
    position: relative;
}

.header > .logo {
    position: absolute;
    top: 35px;
}

.searchbox {
    display: inline-block;
    background-image: url("../img/search_input.png");
    width: 132px;
    height: 19px;
    margin-left: 1px;    
}

.searchbox > #search {
    width: 126px;
    padding: 0;
    line-height: 14px;
    border: 0 none;  
    position: relative;      
    right: 4px;
}

.search-area {
    margin-top: 20px;
    margin-right: auto;        
    height: 19px;
}

.search-area > a:first-child {
    margin-left: 20px;
    font-size: 12px;
    margin-top: auto;
}

.search-area > #search-button {
    background-image: url("../img/search_button.png");
    width: 19px;
    height: 19px;
    display: inline-block;
}

.header > nav {
    width: 757px;
    margin-right: auto;
}

.header-container {
    background-image: url("../img/header_bg.png");
}

ul {
    width: 100%;    
    height: 33px; 
    justify-content: flex-end;
}

ul > li.dropdown {
    height: 100%;
}

ul .home-img > a {
    background-image: url("../img/menu_home.png");
    width: 17px; 
    height: 33px;   
    background-position: top right;
    background-repeat: no-repeat;
    display: inline-block;
}

.header a, .first-row a {        
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #2c5b9e;    
}

.header > nav a {
    font-size: 15px;
    height: 100%;
}

.dropdown:hover > .dropdown-content {
    display: block;    
}

.dropdown > .dropdown-content > a {
    display: block;
    /* height: 30px;     */
    padding: 7.5px 4px;
} 

.dropdown {
    position: relative;    
}

.dropdown > .dropdown-content {    
    background-image: url("../img/menu_dropdown_bg.png");
    background-size: cover;
    display: none;
    position: absolute;
    width: max-content;
    top: 33px;
    z-index: 1;            
}

.dropdown-content > .dropdown-sep {
    display: block;
    background-image: url("../img/menu_dropdown_sep.png");
    width: 100%;
    height: 2px;    
    /* margin: 0 16px;
    background-repeat: no-repeat; */
}

.dropdown > .dropdown-content > a:hover { 
    background-color: #d1d1d1;
}

.row {
    justify-content: space-between;
    margin: auto;
}

.first-row > .col-293 {
    width: 293px;
    position: relative;
}

.first-row > .col-293 > img {
    border-bottom-right-radius: 25px;
}

.first-row {
    margin-top: 30px;
    color: #ffffff;    
}

.first-row > .col-293 > .col-text > h4 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
}

.first-row > .col-293 > .col-text > p {
    font-size: 13px;
    margin: 4px 0 0;
    width: 228px;
    height: 52px;
    line-height: 100%;
}

.first-row > .col-293 > .col-text > a {
    display: block;    
    font-size: 13px;    
    font-weight: normal;
    text-decoration: underline;
    padding-left: 5px;    
    float: left;        
    position: relative;
    top: -5px;
}

.first-row > .col-293 > .col-text > a:hover > .arrow-img,
.second-row > .col-292 > .col-content > a:hover > .yellow-arrow-img {
    background-image: url("../img/read_more_blue.png");    
    /* opacity: 0.5; */
    
}

.first-row > .col-293 > .col-text > a > .arrow-img {
    background-image: url("../img/read_more_white.png");
    display: inline-block;
    width: 8px;
    height: 9px;
}

.first-row > .col-293 > .col-text {
    width: 248px;
    height: 97px;
    background-image: url("../img/hp_tab_text_bg.png");
    padding-right: 10px;
    /* padding: 10px; */
    opacity: 1.6;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.second-row {
    margin-top: 15px;
}

.second-row > .col-292 {
    width: 292px;
    height: 216px;
    position: relative;
    background-image: url("../img/small_cube_bg.png");
    color: #575757;
}

.second-row > .col-292 > .col-content > a {
    display: block;
    margin-top: 20px;
    font-size: 13px;    
    float: left;
    /* margin-right: 160px;         */
}

.second-row > .col-292 > .col-content::after,
.first-row > .col-293 > .col-text::after {
    content: "";
    clear: both;
    display: table;
}

.second-row > .col-292 > .col-content > a > .yellow-arrow-img {
    background-image: url("../img/read_more_yellow.png");
    display: inline-block;
    width: 8px;
    height: 9px;
}

.second-row > .col-292 > .col-content {    
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.second-row > .col-292 > .col-content > h4 {
    font-size: 14px;        
    margin: 0 0 15px;
    line-height: 34px
}