* {
    box-sizing: border-box;    
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 38px;
    margin: 0;
    font-size: 13px;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.row, .header, ul, .search-area, .stations-content, .fixed-fotter,
.contact-form > .input-container, .contact-form > .input-container > .form-line {
    display: flex;
    flex-wrap: wrap;
}

.row, .header, .fixed-fotter > nav > ul {
    width: 900px;
}

.separator {
    background-image: url("../img/menu_sep.png");
    width: 4px;
    margin: 0 16px;
    background-repeat: no-repeat;
}

.header {    
    height: 105px;
    margin: auto;
    align-content: space-between;
    position: relative;    
    padding-left: 10px;
}

.header > .logo {
    position: absolute;
    top: 32px;
}

.searchbox {
    display: inline-block;
    background-image: url("../img/search_input.png");
    width: 132px;
    height: 19px;
    margin-left: 1px;    
}

.searchbox > #search {
    width: 126px;
    padding: 0;
    line-height: 14px;
    border: 0 none;  
    position: relative;      
    right: 4px;
}

.search-area {
    margin-top: 20px;
    margin-right: auto;        
    height: 19px;
}

.search-area > a:first-child {
    font-size: 12px;
    margin: auto 0 auto 20px;
}

.search-area > #search-button {
    background-image: url("../img/search_button.png");
    width: 19px;
    height: 19px;
    display: inline-block;
}

.header > nav {
    width: 757px;
    margin-right: auto;
    height: 33px; 
}

.header-container {
    background-image: url("../img/header_bg.png");
}

ul.main-menu {
    width: 100%;    
    height: 100%;
    justify-content: flex-end;
}

ul > li.dropdown {
    height: 100%;
}

ul .home-img > a, ul .home-img-cnt > a {
    background-image: url("../img/menu_home.png");
    width: 17px; 
    height: 33px;   
    background-position: top right;
    background-repeat: no-repeat;
    display: inline-block;
}

ul .home-img-cnt > a {
    background-image: url("../img/menu_home.png");
    background-position: top left;
}

.header a, .first-row a {        
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

a:hover, .fixed-fotter a:hover, .row-292 a:hover, .col-122 > a:hover {
    text-decoration: underline;
    color: #2c5b9e;    
}

.header > nav a {
    font-size: 15px;
    height: 100%;
}

.dropdown:hover > .dropdown-content {
    display: block;    
}

.dropdown > .dropdown-content > a {
    display: block;
    padding: 7.5px 4px;
} 

.dropdown {
    position: relative;    
}

.dropdown > .dropdown-content {    
    background-image: url("../img/menu_dropdown_bg.png");
    background-size: cover;
    background-repeat: repeat-x;
    display: none;
    position: absolute;
    width: max-content;
    top: 33px;
    z-index: 1;            
}

.dropdown-content > .dropdown-sep {
    display: block;
    background-image: url("../img/menu_dropdown_sep.png");
    width: 100%;
    height: 2px;
    background-repeat: repeat-x;    
}

.dropdown > .dropdown-content > a:hover { 
    background-color: #d1d1d1;
}

.row {
    justify-content: space-between;
    margin: auto;
}

.first-row > .col-293 {
    width: 293px;
    position: relative;
}

.first-row > .col-293 > img {
    border-bottom-right-radius: 25px;
}

.first-row {
    margin-top: 30px;
    color: #ffffff;    
}

.first-row > .col-293 > .col-text > h4 {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
}

.first-row > .col-293 > .col-text > p {
    margin: 4px 0 0;
    width: 228px;
    height: 52px;
    line-height: 100%;
}

a.white-arrow {
    display: block;    
    font-weight: normal;
    text-decoration: underline;
    padding-left: 5px;    
    float: left;        
    position: relative;
    top: -5px;
}

a.white-arrow:hover > .arrow-img,
a.yellow-arrow:hover > .yellow-arrow-img {    
    background-image: url("../img/read_more_blue.png");    
}

a.white-arrow > .arrow-img {
    background-image: url("../img/read_more_white.png");
    display: inline-block;
    width: 8px;
    height: 9px;
}

.first-row > .col-293 > .col-text {
    width: 248px;
    height: 97px;
    background-image: url("../img/hp_tab_text_bg.png");
    padding-right: 10px;    
    opacity: 1.6;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.second-row {
    margin-top: 15px;
}

.second-row > .col-292 {
    width: 292px;
    height: 216px;
    position: relative;
    background-image: url("../img/small_cube_bg.png");
    color: #575757;
}

a.yellow-arrow {
    display: block;
    margin-top: 20px;
    float: left;
}

.second-row > .col-292 > .col-content::after,
.first-row > .col-293 > .col-text::after {
    content: "";
    clear: both;
    display: table;
}

a.yellow-arrow > .yellow-arrow-img {    
    background-image: url("../img/read_more_yellow.png");
    display: inline-block;
    width: 8px;
    height: 9px;
}

.second-row > .col-292 > .col-content .location-nav a {
    display: block;
    margin: 5px;
}

.second-row > .col-292 > .col-content {    
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.second-row > .col-292 > .col-content > h4 {
    font-size: 14px;        
    margin: 0 0 15px;
    line-height: 34px
}

.second-row > .col-292 > .col-stations > h4 {
    margin: 0 0 6px;
}

.second-row > .col-292 > .col-content .location-nav ul {
    flex-direction: column;
    justify-content: space-evenly;
}

.stations-content {
    justify-content: space-between;
}

.fixed-fotter {
    background-image: url("../img/footer_bg.png");
    background-repeat: repeat-x;
    height: 38px;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center; 
    align-items: center;         
}

ul .fb-img > a {
    background-image: url("../img/fb_icon.png");
    width: 18px; 
    height: 18px;   
    display: inline-block;
}

.fixed-fotter a, .fixed-fotter li.footer-sep {
    color: #ffffff;        
    font-size: 14px;
    text-decoration: none;
}

.fixed-fotter li.footer-sep {
    margin: 0 5px;
}

.fixed-fotter > nav {
    position: relative;
    bottom: -5px;
}

.fixed-fotter li.red-link > a {
    color: #ff0000;
}

.contact-row {
    color: #72716d;
    justify-content: space-between;    
    padding-top: 32px;
}

.row-292 {
    margin-top: 20px;
    width: 100%;
    height: 175px;    
    background-image: url("../img/cube_bg.png");
    background-repeat: no-repeat;    
}

.col-con-292 {
    width: 292px;
    margin-top: 32px;
}

.col-122 {
    width: 122px;
    height: 36px;
    background-image: url("../img/side_menu_sprite.png");
    background-position: right;    
}

.col-122 > a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    margin: 8px 15px 10px;
}

.col-440 {
    width: 440px;
}

.col-440 > h4, .contact-form > h4, .row-292 > .row-content > h4 {
    font-size: 15px;
}

.col-440 > h4 {
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;    
}

.col-440 > .nav-location {
    font-size: 12px;
    color: #5c5c5c;
}

.col-440 > .nav-location  > p {
    margin-top: 0;
}

.contact-form {
    color: #72716d;
    font-size: 12px;
}

.contact-form > h4, .row-292 > .row-content > h4 {
    color: #005ca0;
    margin: 5px 0;
}

.contact-form > p.sub-headline {
    color: #6d6d6d;
    margin: 5px 0;
    width: 347px;
    font-weight: bold;
}

.contact-form > .input-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form > .input-container > .form-line {
    width: 250px;
    margin-bottom: 5px;
    justify-content: space-between;
}

textarea {
    width: 100%;
    height: 100px;
}

.form-container {
    position: relative;    
}

.contact-form {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

#submit {
    color: #ffffff;
    background-color: #3873b0;
    max-width: 40px;
    margin-right: auto;
}

#submit:hover {
    background-color: #eab330;
}

.col-con-292 > .row-292 > .row-content {
    width: 100%;
    height: 100%;    
    position: relative;
    top: 18px;
    right: 20px;
}

.col-con-292 > .row-292 > .row-content > h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

input, textarea {
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.row-292 a {
    text-decoration: none;
}