* {
    box-sizing: border-box;    
}

body {
    direction: rtl;
    text-align: right;
}

.searchbox {
    display: inline-block;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.row, .header, ul {
    display: flex;
    flex-wrap: wrap;
}

.separator {
    background-image: url("../img/menu_sep.png");
    width: 4px;
    margin: 0 16px;
    background-repeat: no-repeat;
}

.header {    
    width: 900px;
    height: 105px;
    margin: auto;
    align-content: space-between;
}

.search-area {
    margin-right: auto;
}

.header > nav {
    width: 757px;
    margin-right: auto;
}

.header-container {
    background-image: url("../img/header_bg.png");
}

ul {
    width: 100%;    
    height: 33px; 
    justify-content: flex-end;
}

ul .home-img {
    background-image: url("../img/menu_home.png");
    width: 17px;    
    background-position: top right;
    background-repeat: no-repeat;
}

a {
    height: 100%;
}